<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}  

    Hi {{ person }}! I think you're {{ compliment }}!
    <form action="/game">
      <p>Would you like to play a game? 
        <input type="radio" name="game_choice" value="yes">Yes
        <input type="radio" name="game_choice" value="no">No <br>
        <input type=hidden name="person" value={{ person }}>
      <input type="submit">
     </form>
     {% endblock %}
       

</body>
</html>