<!doctype html>
<html>
<head>
  <title>Let's Play a Game</title>
</head>
<body>
      {% extends "base.html" %}

      {% block content %}      
    <p>Hello, {{ person }}! let's play a game</p>
    <p>
      <form action="/madlib">
        Celebrity name: <input type="text" name="celebrity"><br>
        Color: <input type="text" name="color"><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adjective"><br>
        Adverb: swimmingly<input type="checkbox" name="adverbs" value="swimmingly">
        fantastically<input type="checkbox" name="adverbs" value="fantastically"><br>
        <input type="submit">
        {% endblock %}

     </form>

</body>
</html>